{% extends "base.html" %}
{% block content %}
    <h1>Admin Panel</h1>
    </br>
    <h1><a href="{{ url_for('admin.get_users') }}">User List</a></h1>
    <h1><a href="{{ url_for('admin.get_messages') }}">Messages</a></h1>
    <h1><a href="{{ url_for('admin.get_data') }}">Get Data</a></h1>
    <h1><a href="{{ url_for('admin.post_data') }}">Post Data</a></h1>
    <h1><a href="{{ url_for('admin.sheet_api_test') }}">Sheet API Test</a></h1>
    <h1><a href="{{ url_for('admin.get_bittrex_markets') }}">Bittrex API Markets Test</a></h1>
    <h1><a href="{{ url_for('admin.get_bittrex_balances') }}">Bittrex API Balances Test</a></h1>
{% endblock %}