{% extends "base.html" %}
{% block content %}
    <h1>Admin Panel</h1>
    </br>
    <h1><a href="{{ url_for('bittrexSheets.writeToFromSheetsX') }}">writeToFromSheets</a></h1>
    <h1><a href="{{ url_for('bittrexSheets.writeToFromSheetsBatchGet') }}">writeToFromSheetsBatchGet</a></h1>
    <h1><a href="{{ url_for('bittrexSheets.writeToFromSheetsBatchUpdate') }}">writeToFromSheetsBatchUpdate</a></h1>
    <h1><a href="{{ url_for('bittrexSheets.writeToFromSheetsGetTickers') }}">writeToFromSheetsGetTickers</a></h1>
    <h1><a href="{{ url_for('bittrexSheets.writeToFromSheetsTest1a') }}">writeToFromSheetsTest1a</a></h1>
{% endblock %}